{% extends "admin/_template.html.twig" %}

{% block title %}
    Gestion des albums
{% endblock %}

{% block content %}

    <div class="container block -align-center">
{#        <div class="columns is-centered">#}
{#            <a class="button is-primary is-light" href="{{ path('admin_create_record') }}">#}
{#                Créer un nouvel album#}
{#            </a>#}
{#        </div>#}
    </div>
    <div class="container block">
        Nombres total : {{ pagination.getTotalItemCount }}
        <table class="table is-narrow is-fullwidth ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Artiste</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>label</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for record in pagination %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.artist.name }}</td>
                        <td>{{ record.title }}</td>
                        <td>{{ record.description }}</td>
                        <td>{{ record.releasedat | date("d/m/Y") }}</td>
                        <td>
                            {% if record.label is not null %}
                                {{ record.label.name }}
                            {% endif %}
                        </td>
                        <td class="has-text-right">
                            <a class="button is-primary" href="{{ path('admin_label_form', {id: record.id}) }}">
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}