{% extends "admin/_template.html.twig" %}

{% block title %}
    Gestion des labels
{% endblock %}

{% block content %}

    <div class="container block -align-center">
        <div class="columns is-centered">
            <a class="button is-primary is-light" href="{{ path('admin_create_label') }}">
                Créer un nouveau label
            </a>
        </div>
    </div>
    <div class="container block">
        Nombres total : {{ pagination.getTotalItemCount }}
        <table class="table is-narrow is-fullwidth ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for label in pagination %}
                    <tr>
                        <td>{{ label.id }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.description }}</td>
                        <td class="has-text-right">
                            <a class="button is-primary" href="{{ path('admin_label_form', {id: label.id}) }}">
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}