{% extends "admin/_template.html.twig" %}

{% block title %}
    Gestion des artistes
{% endblock %}

{% block content %}

    <div class="container block -align-center">
        <div class="columns is-centered">
            <a class="button is-primary is-light" href="{{ path('admin_create_artist') }}">
                Créer un nouvel artiste
            </a>
        </div>
    </div>
    <div class="container block">
        Nombres total : {{ pagination.getTotalItemCount }}
        <table class="table is-narrow is-fullwidth ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for artist in pagination %}
                    <tr>
                        <td>{{ artist.id }}</td>
                        <td>{{ artist.name }}</td>
                        <td>{{ artist.description }}</td>
                        <td class="has-text-right">
                            <a class="button is-primary" href="{{ path('admin_artist_form', {id: artist.id}) }}">
                                Modifier
                            </a>
                        </td>
                        <td class="has-text-right">
                            <a class="button is-danger is-light" href="{{ path('admin_artist_delete', {id: artist.id, token: csrf_token('artist_delete')}) }}">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}