{% extends "_template.html.twig" %}

{% block title %}
{% endblock %}

{% block content %}

    <h2 class="title">Label du mois</h2>
    <div class="columns promoteLabel mb-6">
        {% if promotedLabel is not null %}
            {% for label in promotedLabel %}
                <div class="column is-one-third">
                    <figure class="image is-square">
                        <a href="{{ path('label_page', {id: label.id}) }}" class="has-text-black">
                            <img src="https://loremflickr.com/400/400/artist,music,musician/all?lock={{ label.id }}" alt="Image">
                        </a>
                    </figure>
                </div>
                <div class="column">
                    <p class="is-medium">Ajouter une description au label</p>

                    <div class="buttons is-centered align-bottom">
                        <a class="button is-link" href="{{ path('label_page', {id: label.id}) }}">Voir le label {{ label.name }}</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <h2 class="title">Just added</h2>
    <div class="columns">
        {% if lastRecords is not null %}
            {% for record in lastRecords %}
                <div class="column is-one-quarter">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <a href="{{ path('record_page', {id: record.id}) }}" class="has-text-black">
                                        <img src="https://loremflickr.com/256/256/artist,music,musician/all?lock={{ record.id }}" alt="Image">
                                    </a>
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="{{ path('record_page', {id: record.id}) }}" class="has-text-black">
                                            <strong>{{ record.title }}</strong><br>
                                            <strong>{{ record.artist.name }}</strong>
                                        </a>
                                    </p>
                                    <p>
                                        <a href="{{ path('record_page', {id: record.id}) }}" class="has-text-black">
                                            {{ record.description }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>



    
    
{% endblock %}
